<div class="chat">
  <div class="img-container">
    <span class="level">{{ chat.level }}</span>
    <img [src]="chat.img" alt="" />
  </div>
  <div class="chat-info">
    <span class="user-username">{{ chat.name }}</span>
    <p *ngIf="chat.messages.length > 0">
      {{ chat.messages[chat.messages.length - 1].text }}
    </p>
    <app-drop-down>
      <select class="select--drop-down" (change)="changeOption($event)">
        <option value="" selected></option>
        <option value="like" class="option--like" (click)="likeChat()">Like</option>
        <option value="report" class="option--report" (click)="reportChat()">Report</option>
      </select>
    </app-drop-down>
  </div>
  <div class="more-features">
    <i class="fa-solid fa-greater-than" (click)="getCurrentChat(chat.name)"></i>
    <p *ngIf="time">{{ time }}</p>
  </div>
  <i class="fa-solid fa-xmark" (click)="deleteChat(chat.name)"></i>
</div>
