<div class="chat">
  <div>
    <div class="img-container">
      <span class="level">{{ chat.level }}</span>
      <img [src]="chat.img" alt="" />
    </div>
    <span>Likes: {{ chat.likes }}</span>
  </div>
  <div class="chat-info">
    <span class="user-username">{{ chat.name }}</span>
    <p *ngIf="chat.messages.length > 0" class="p--chat-last-message">
      {{ chat.messages[chat.messages.length - 1].text }}
    </p>
    <button (click)="addItem()">Add item</button>
    <button (click)="removeLastItem()">Remove last item</button>
    <app-drop-down
      (changeSelectedElement)="changeSelectedElementHandler($event)" defaultSelectedValue="Like">
        <p *ngFor="let item of items" #option class="p--drop-down-content" event="click" option>{{item}}</p>
        <!-- <p class="p--drop-down-content" event="click" value="Like" option><i class="fa-solid fa-thumbs-up"></i> Like</p>
        <p class="p--drop-down-content" event="click" value="Report" option ><i class="fa-solid fa-exclamation"></i> Report</p> -->
    </app-drop-down>
  </div>
  <div class="more-features">
    <i class="fa-solid fa-greater-than" (click)="getCurrentChat(chat.name)"></i>
    <p *ngIf="time">{{ time }}</p>
  </div>
  <i class="fa-solid fa-xmark" (click)="deleteChat(chat.name)"></i>
</div>
