.current-chat {
  height: 30rem;
  padding: 0.5rem;
  background-color: white;
  padding-top: 2rem;
  position: relative;
}

.current-chat.close{
  animation: close 500ms forwards;
}

.current-chat.open{
  animation: open 500ms forwards;
}

@keyframes open{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1)
  }
}

@keyframes close{
  from{
    transform: scaleX(1);
  }
  to{
    transform: scaleX(0);
  }
}

.fa-xmark{
  position: absolute;
  color:red;
  font-size: 1.5rem;
  top:5px;
  right:10px;

  &:hover{
    transform: scale(1.2);
  }
}

.img-container {
  padding-bottom: 0.5rem;
  position: relative;
  width: 70px;
  height: 70px;

  .level {
    position: absolute;
    bottom: 9px;
    right: 4px;
    color: white;
    font-weight: bold;
  }
}

.messages {
  height: calc(100% - 4rem);
  overflow: auto;
  position:relative;
}

.write-message {
  display: block;
  width: 100%;

  input {
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    border: 1px solid orange;
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: auto;
  }
}

.div--new-message {
  position: sticky;
  bottom:10%;
  text-align: center;
}
