<section class="current-chat">
  <section class="messages" id="messages" (scroll)="scrolling()">
    <ng-container *ngIf="messages">
      <app-message
        *ngFor="let message of messages"
        [message]="message"
      ></app-message>
    </ng-container>
    <div class="div--new-message" *ngIf="newMessages" (click)="readAllNewMessages()">
      <i class="fa-solid fa-arrow-down"></i>{{newMessages}}
    </div>
  </section>
  <form #form="ngForm" class="write-message" (ngSubmit)="submitMessage(form)">
    <input
      type="text"
      name="message"
      ngModel
      placeholder="Write a new message"
    />
  </form>
</section>
