<div class="div--drop-down-menu" >
  <i class="fa-solid fa-arrow-down"></i>
  <button (click)="doDropDownListVisible()">Settings</button>
  <ul id="drop-down-list">
    <li (click)="logoutUser()">Logout</li>
  </ul>
</div>
<div class="chats-page">
    <section class="wrapper">
      <section class="chats">
        <ng-container *ngIf="chats$ | async">
            <app-chat *ngFor="let chat of chats$ | async" [chat]="chat" (currentChatEvent)="getCurrentChat($event)"></app-chat>
        </ng-container>
        <p *ngIf="!chats$">Loading...</p>
      </section>
      <section class="new-topic">
        <i class="fa-solid fa-plus"></i>
        <button (click)="createNewConversation()">New Topic</button>
      </section>
    </section>

    <app-current-chat *ngIf="currentChat"  class="current-chat-container" (closeCurrentChatEmitter)="closeCurrentChat()"></app-current-chat>
  </div>
