<div class="chats-page">
    <section class="wrapper">
      <section class="chats">
        <ng-container *ngIf="chats$ | async">
            <app-chat *ngFor="let chat of chats$ | async" [chat]="chat" (currentChatEvent)="changeCurrentChat($event)"></app-chat>
        </ng-container>
        <p *ngIf="!chats$">Loading...</p>
      </section>
      <section class="new-topic">
        <i class="fa-solid fa-plus"></i>
        <button>New Topic</button>
      </section>
    </section>

    <section *ngIf="currentChat" class="current-chat">
      <section class="messages">
        <ng-container *ngIf="messages">
          <app-message *ngFor="let message of messages" [message]="message"></app-message>
        </ng-container>
      </section>
      <form #form="ngForm" class="write-message" (ngSubmit)="submitMessage(form)">
          <input type="text" name="message" ngModel placeholder="Write a new message">
        </form>
    </section>
  </div>
