<section #chatListPage>
  <div class="div--settings">
    <button (click)="showPopup()">Settings</button>
  </div>
  <div class="chats-page">
    <section class="wrapper">
      <section class="chats">
        <ng-container *ngIf="chats">
          <app-chat
            *ngFor="let chat of chats ;trackBy:trackByConversation"
            [chat]="chat"
            (currentChatEvent)="getCurrentChat($event)"
          ></app-chat>
        </ng-container>
        <p *ngIf="!chats">Loading...</p>
      </section>
      <section class="new-topic">
        <i class="fa-solid fa-plus"></i>
        <button (click)="createNewConversation()">New Topic</button>
      </section>
    </section>

    <app-current-chat
      *ngIf="currentChat"
      class="current-chat-container"
      (closeCurrentChatEmitter)="closeCurrentChat()"
    ></app-current-chat>
  </div>
</section>
