$background-color: #0b3a78;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-color: $background-color;
}

// Login page

#login-form {
  width: 300px;
  border: 2px solid orange;
  border-radius: 7px;
  overflow: hidden;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  display: none;
}

header {
  background-color: rgb(103, 16, 63);
  text-align: center;
  padding: 0.7rem 0;
  border-bottom: 1.5px solid orange;

  span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }
}

.content {
  padding: 1.5rem 0.7rem;
  background-color: rgb(115, 14, 68);
  text-align: center;

  div {
    margin-bottom: 2rem;
  }

  div {
    position: relative;

    i {
      position: absolute;
      font-size: 1.4rem;
      color: grey;
      top: 5px;
      left: 6px;
    }

    input {
      width: 100%;
      background-color: rgb(79, 11, 46);
      border: 1px solid orange;
      font-size: 1rem;
      padding: 0.4rem;
      padding-left: 2rem;
      border-radius: 10px;
      color: white;
    }
  }

  button {
    width: 100%;
    background-color: rgb(37, 185, 37);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
}

// Chats page

.chats-page {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  width: 75%;
  margin: 0 auto;
  gap: 0.3rem;

  .wrapper,
  .current-chat {
    width: 50%;
    height: 30rem;
    padding: 0.5rem;
  }
}

.chats,
.messages {
  overflow: auto;
  width: 100%;
}

.chats {
  height: 91%;
}

.current-chat,
.chat {
  background-color: white;
}

.chat {
  padding: 0.7rem 0.7rem 0.2rem 0.7rem;
  border-radius: 10px;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.img-container {
  padding-bottom: 0.5rem;
  position: relative;
  width: 72px;
  height: 70px;

  .level {
    position: absolute;
    bottom: 9px;
    right: 4px;
    color: white;
    font-weight: bold;
  }
}

.chat-info {
  width: 70%;
  padding-bottom: 0.5rem;
}

.user-username {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.more-features {
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  gap: 0.5rem;

  i {
    font-size: 2.5rem;
    color: orange;
  }
}

.time {
  color: grey;
}

.new-topic {
  padding: 0.5rem;
  background-color: #07264f;
  position: relative;

  button {
    width: 100%;
    background-color: rgb(21, 150, 21);
    padding: 0.6rem;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }

  i {
    position: absolute;
    color: white;
    top: 1.1rem;
    left: 1rem;
  }
}

.message {
  margin: 0;
  display: flex;
  gap: 0.5rem;
  width: 100%;

  .wrapper-messages{
    width: 50%;
    padding: 0;

    .message-info {
      border: 1px solid orange;
      padding: 0.5rem;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}

.my-message {
  justify-content: end;
  flex-direction: row-reverse;

  .wrapper-messages {
    .message-info {
      border-top-right-radius: 0;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}

.messages {
  height: calc(100% - 4rem);
}

.write-message {
  display: block;
  width: 100%;

  input {
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    border: 1px solid orange;
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: auto;
  }
}
